.hodos-canvas {
	position: absolute;
}
.hodos-debug {
	position: absolute;
}

.map-controls {
	background: black;
	color: white;
	padding: 10px;
	margin: 0;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}
