.hodos-canvas {
	position: absolute;
}
.hodos-debug {
	position: absolute;
}

.map-controls {
	background: rgba(20, 20, 20, 80%);
	color: white;
	padding: 10px;
	margin: 0;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	border-top-style: solid;
	border-top-color: rgba(255, 255, 255, 30%);
	font-family: sans-serif;
}
